// This area is for widths and heights
$site-width: 980px;
$banner-height: 500px;
$banner-footer-width: 1280px;
$footer-height: 100px;
$home-form-width: 818px;
$input-height: 58px;
$promo-box-width: 236px;
$promo-box-height: 304px;
$content-width: 500px;
$client-width: 260px;
$client-height: 150px;
$tours-title-width: 981px;
$tours-title-height: 200px;
$offers-img-width: 199px;
$offers-img-height: 287px;
$blog-img-width: 900px;
$blog-img-height: 259px;
$contact-img-width: 400px;
$contact-img-height: 442px;
$contact-box-width: 529px;
$contact-box-height: 60px;
$package-header-width: 981px;
$package-header-height: 413px;
$package-img-height: 347px;
$package-img-width: 298px;

// This is for site colors
$site-blue: #79ADDC;
$site-white: white;
$site-black: black;


