.contact {
    max-width: $site-width;
    margin: 0 auto 0 auto;
    .contact-header {
        text-transform: uppercase;
        font-size: 60px;
        font-family: proximaNova;
        position: relative;
        display: inline;
        .contact-border {
            border-bottom: 2px solid $site-black;
            position: absolute;
            width: 80%;
            left: 0;
            bottom: -2px;
        }
    }
}